@import './settings';
@import './colours.scss';

.grid-container{
  display: grid;
  min-height: 100%;
  min-width: 100%;
  grid-template-areas:  "header header"
                        "content-one content-one"
                        "content-two content-two"
                        "footer footer";
  grid-template-rows:    6em 3fr 3fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.header{ grid-area: header;}
.content-one{ 
  grid-area: content-one;
  background-color: $colour-mint;
 }
.content-two{ grid-area: content-two; }
.footer{ grid-area: footer; }


